@import '../utils/mixins.scss', '../utils/variables.scss';

.description-section {

    h2, h3 ,p {
        text-align: left;
    }

    .description-article {
        @include flex-column;
        align-items: start;
        gap: 1.5rem;
    }

    .option-article {
        padding: 1.5rem;
        border: 1px solid $medium-gray;
        border-radius: 10px;
        @include flex-column;
        align-items: start;
        gap: 1.5rem;

        .option-heading-2 {
            color: $moderate-cyan;
        }
    }

    .option-article-3 {
        opacity: 0.5;

        button {
            background-color: $medium-gray;
        }
    }

}

@media (min-width: 700px) {

    .description-section {

        .option-article {
            padding: 2.5rem;

            .option-heading-div {
                width: 100%;
                @include flex-row;
                justify-content: space-between;
            }
        }
    }
}