@import '../utils/mixins.scss', '../utils/variables.scss';

header {
    height: 300px;
    background-size:cover;

    .navbar-mobile-fixed {
        position: fixed;
        z-index: 2;
    }

    .navbar-mobile {
        width: 100%;
        padding: 2rem 1.5rem;
        @include flex-row;
        justify-content: space-between;

        img {
            z-index: 3;
        }

        .menu-layer {
            display: none;
            top: 0;
            right: 0;
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(180deg, rgba(0,0,0,0.7597254004576659) 0%, rgba(0,0,0,0.009) 50%);
            z-index: 2;
        }
    
        .menu-mobile {
            display: none;
            width: 90%;
            top: 5rem;
            position: fixed;
            background-color: white;
            opacity: 1;
            border-radius: 10px;
            list-style: none;
            z-index: 3;
    
            .menu-item {
                height: 5rem;
                @include flex-row;
                justify-content: start;
        
                a {
                    margin: auto 2rem;
                }
            }
    
            .menu-item:first-child, .menu-item:nth-child(2) {
                border-bottom: 1px solid $medium-gray;
            }
        }

        .active {
            display: unset;
        }
    }

}

@media (min-width: 700px) {
    header {
        height: 400px;
    }
}
