@import '../utils/mixins.scss', '../utils/variables.scss';

main {
    top: -65px;
    position: relative;
    @include flex-column;
    gap: 1.5rem;
    z-index: 0;

    section {
        max-width: 800px;
        padding: 2.5rem 1.5rem;
        width: 85%;
        background-color: white;
        border: 1px solid $light-gray;
        border-radius: 10px;
        @include flex-column;
        gap: 1.5rem;
    }

    button:not(.bookmark-button) {
        height: 3.5rem;
        width: 12rem;
        border: none;
        border-radius: 30px;
        background-color: $moderate-cyan;
        font-size: 1rem;
        color: white;
    }
}

